.navMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: #fff;
}

.logo {
  color: #0290ff;
  font-family: 'Montserrat', sans-serif;
}

.navLinks {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 2rem;
}

.navLinks li {
  padding: 0 2rem;
}

.linkBooks,
.linkCategories {
  color: #121212;
  transition: 800ms ease-in-out;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.link:hover {
  color: #0290ff;
  font-size: 1.2rem;
  font-weight: 600;
}

.FaUserCircle {
  width: 40px;
  height: 30px;
}

@media (max-width: 768px) {
  .logo {
    font-size: 1.3rem;
  }

  .link:hover {
    font-size: 1.3rem;
    font-weight: 600;
  }
}
